/* css styles */

h1,
h2,
h3,
h4 {
	font-family: "Garamond", "Times New Roman", Times, serif;
}

/* body {
    background-image: url(https://cdn.magicdecor.in/com/2022/10/30090321/1698853210.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */
